<h1>Iniciar sesión</h1>
{{#if error}}
  <div class="alert alert-danger" role="alert">
    {{error.message}}
  </div>
{{/if}}
<form id="loginForm" action="/login" method="POST">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" required>
    <!-- Mensaje de error para el email -->
    <small id="emailError" class="text-danger"></small>
  </div>
  <div class="form-group">
    <label for="password">Contraseña</label>
    <input type="password" class="form-control" id="password" name="password" required>
    <!-- Mensaje de error para la contraseña -->
    <small id="passwordError" class="text-danger"></small>
  </div>
  <button type="submit" class="btn btn-primary">Iniciar sesión</button>
</form>

<script>
  // Validación del lado del cliente
  const form = document.getElementById('loginForm');
  form.addEventListener('submit', function(event) {
    const emailInput = document.getElementById('email');
    const passwordInput = document.getElementById('password');
    const emailError = document.getElementById('emailError');
    const passwordError = document.getElementById('passwordError');

    emailError.textContent = '';
    passwordError.textContent = '';

    if (!isValidEmail(emailInput.value)) {
      emailError.textContent = 'El email no es válido';
      event.preventDefault(); // Evita que se envíe el formulario
    }

    if (passwordInput.value.length < 6) {
      passwordError.textContent = 'La contraseña debe tener al menos 6 caracteres';
      event.preventDefault(); // Evita que se envíe el formulario
    }
  });

  // Función para validar el email
  function isValidEmail(email) {
    // Expresión regular para validar el email
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    return emailRegex.test(email);
  }
</script>
